.slider__to_detail {
    width: fit-content;
    padding: 4px 21px;
    border-radius: 99999px;
    background-color: $lake-green;
    @include font-size(18px);
    color: white;
    margin-left: auto;
    margin-right: 0;
    box-shadow: 0 0 0 0 #309f98;
    i {
        padding-left: 6px;
    }
    @include media-breakpoint-up(md) {
        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 #309f98;
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0 1px 0 0 #309f98;
        }
    }
    @include media-breakpoint-down(md) {
        @include font-size(17px);
    }
    @include media-breakpoint-down(sm) {
        padding: 2px 20px;
        @include font-size(16px);
    }
}