// bootstrap 設定
@import './bootstrap-4.6.1/functions.scss';
@import './variable';
@import './bootstrap-4.6.1/variables';
@import './bootstrap-4.6.1/bootstrap.scss';

// slick
@import './slick/slick.scss';
@import './slick/slick-theme.scss';

// 基礎設定
@import './custom-mixins';
@import './global';
@import './layout';
@import './part';

// 首頁
@import './index';

@import './_lang_en';